<!DOCTYPE HTML>
	<head>
		<meta charset='utf-8'>
		<title>Point Payment API</title>
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
	</head>
		<h1>Welcome to the Point Payment API!</h1>
		<br>
	<body>

<pre>
<h2>REQUEST</h2>

	<b>API Request</b>
	-----------
	Point exposes a list of REST APIs to perform various actions. These APIs can be used in order to navigate the Point app.

	The base URL for all API requests is api.pointup.io/.


		Authentication
		--------------
		MOST requests to Point API are authenticated using a Bearer Token. This bearer token can be obtained from logging in with the proper credentials.

		Any action marked with (AUTH REQ) requires proper authentication before it can be accessed.

		Headers: {
			Authentication: Bearer Token
		}

		Content Type
		------------
		Point only accepts input of the type application/json.



	<b>API Response</b>
	------------
	All Point APIs return a response in json format. The API returns one of the following HTTP status codes.

	200 - OK, The request has succeeded. Resource has not been modified.
	201 - Created, The request has succeeded. Resource has been modified.
	202 - Accepted, The request has been accepted for processing, but the processing has not been completed. The request might or might not eventually be acted upon, as it might be disallowed when processing actually takes place.
	401 - Unauthorized, The request requires authentication. The Authentication header field must contain a valid Bearer token in order to be authenticated.
	409 - Conflict, The request could not be completed due to a conflict with the current state of the target resource.
	413 - Entity too large, The server is refusing to process a request because the request payload is larger than the server is willing or able to process.
	422 - Unprocessable Entity, The server understands the content type of the request entity, and the syntax of the request entity is correct but was unable to process the contained instructions.
	500 - Internal Server Error, The server encountered an unexpected condition that prevented it from fulfilling the request.

		Response Attributes
		-------------------
		message: Provides information regarding the request
		error: Error received by the server
		token: Authorization token

<h2>RESOURCES</h2>

	<b>User</b>
	----
	The User API lets you perform actions regarding your User Point account. When you sign up on Point, you will be given your own account. You can retrive your account details like phone number, userId, and balances using the User API. You can also modify your password here.

	The following actions can be performed with the User API
	- Get User information
	- Get all Merchants
	- Get a specific Merchant
	- Verify as a User
	- Authenticate with Facebook
	- Sign up as a User
	- Log in as a User
	- Modify User password
	- Delete User

	<i>BaseURI:</i> api.pointup.io/users


		<b>Get User information</b> (AUTH REQ)
		--------------------
		The following API enables you to retrieve information about your User Point account.

		GET api.pointup.io/users/

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"phone": 19198229889,
				"userId": "5afaffbf15833716e170fe8c",
				"lastLoginAt": "2018-06-13T15:12:01.153Z"
			}


		<b>Get all Merchants</b>
		-----------------
		The following API enables you to retrieve information about your Merchant Point account.

		GET api.pointup.io/users/merchants

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"merchants": [
					{
						"merchantId": "5afaffc015833716e170fe8f",
						"name": "Merchant A",
						"image": "Default.png"
					},
					{
						"merchantId": "5afaffc015833716e170fe90",
						"name": "Merchant B",
						"image": "Default.png"
					},
					{
						"merchantId": "5afaffc015833716e170fe91",
						"name": "Merchant C",
						"image": "Default.png"
					}
				]
			}


		<b>Get a specific Merchant</b>
		-----------------------
		The following API enables you to retrieve information about your Merchant Point account.

		GET api.pointup.io/users/merchants/:merchantId

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"merchantId": "5afaffc015833716e170fe8f",
				"name": "Merchant A",
				"image": "Default.png",
				"lastLoginAt": "2018-06-13T15:11:40.760Z"
			}


		<b>Verify as a User</b>
		----------------
		The following API enables you to verify a User Point account. A verification code will be sent to the listed phone number.

		POST api.pointup.io/users/verify

		<i>Arguments:</i>
		---------
		- phone: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.

			Request
			-------
			Content-Type: application/json
			{
				"phone": 19198229889
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Code sent!"
			}


		<b>Sign up as a User</b>
		-----------------
		The following API enables you to sign up and create a User Point account.

		POST api.pointup.io/users/signup

		<i>Arguments:</i>
		---------
		- phone: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- password: A valid string containing your password. Ex. verygoodpassword. Hashed password will be stored.
		- name: A valid string containing the User's name. Ex. John Doe.
		- dob (optional): A valid string containing the User's date of birth in yyyy-mm-dd format. Ex. 2000-01-01.
		- code: A valid 6-digit verification code sent to the listed phone. Ex. 123456. Codes will expire within 5 minutes of creation.

			Request
			-------
			Content-Type: application/json
			{
				"phone": 19198229889,
				"password": "verygoodpassword",
				"name": "John Doe",
				"dob": "2000-01-01",
				"code": 123456
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "User created!"
			}


		<b>Log in as a User</b>
		----------------
		The following API enables you to log into your User Point account. A token will be sent back in the response, enabling the User to store it for authorization.

		POST api.pointup.io/users/login

		<i>Arguments:</i>
		---------
		- phone: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- password: A valid string containing your password. Ex. verygoodpassword. Hashed password will be stored.

			Request
			-------
			Content-Type: application/json
			{
				"phone": 19198229889,
				"password": "verygoodpassword"
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Auth succeeded",
				"token": "919Token"
			}


		<b>Authenticate with Facebook</b>
		--------------------------
		The following API enables you to log into your User Point account via Facebook. A token will be sent back in the response, enabling the User to store it for authorization.

		POST api.pointup.io/users/fbAuth

		<i>Arguments:</i>
		---------
		- accessToken: A valid Facebook User Authentication token. Ex. 919AccessToken
		- phone (optional): A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- code (optional): A valid 6-digit verification code sent to the listed phone. Ex. 123456. Codes will expire within 5 minutes of creation.

			Request
			-------
			Content-Type: application/json
			{
				"accessToken": "919AccessToken",
				"phone": 19198229889,
				"code": 123456
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Auth successful!",
				"token": "919Token"
			}


		<b>Modify User name</b> (AUTH REQ)
		----------------
		The following API enables you to change the name to your User Point account.

		PUT api.pointup.io/users/name

		<i>Arguments:</i>
		---------
		- name: A valid string containing the User's name. Ex. Bob Ross.

			Request
			-------
			Authorization: Bearer 919Token
			Content-Type: application/json
			{
				"name": "Bob Ross"
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Name changed!"
			}


		<b>Modify User image</b> (AUTH REQ)
		-----------------
		The following API enables you to change the image to your User Point account.

		PUT api.pointup.io/users/image

		<i>Arguments:</i>
		---------
		- password: A valid image in .jpeg or .png format. Max file size &lt= 5.24MB.

			Request
			-------
			Authorization: Bearer 919Token
			Content-Type: application/json
			image: Default.png
			{
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Image changed!"
			}


		<b>Modify User password</b> (AUTH REQ)
		--------------------
		The following API enables you to change the password to your User Point account.

		PUT api.pointup.io/users/password

		<i>Arguments:</i>
		---------
		- password: A valid string containing your password. Ex. verynewpassword. Hashed password will be stored.

			Request
			-------
			Authorization: Bearer 919Token
			Content-Type: application/json
			{
				"password": "verynewpassword"
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Password changed!"
			}


		<b>Delete User</b> (AUTH REQ)
		-----------
		The following API will completely delete the User from the Point database.

		DELETE api.pointup.io/users/

		<i>Arguments:</i> None

			Request
			-------
			Authorization: Bearer 919Token
			{
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "User deleted!"

			}


	<b>User Balance</b>
	------------
	The User Balance API lets you perform actions regarding your the balances your User Point account holds. You can retrive all balances you hold and information about them here.

	The following actions can be performed with the User Balance API
	- Get all balances with this User
	- Get information about a specific balance from URL
	- Create a new balance with a Merchant
	- Create a new balance with a Merchant from URL
	- Delete all balances of this User
	- Delete a specific balance from URL

	<i>BaseURI:</i> api.pointup.io/users/balances


		<b>Get all balances with this User</b> (AUTH REQ)
		-------------------------------
		The following API enables you to retrieve all balances involving this User.

		GET api.pointup.io/users/balances

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"balances": [
					{
						"balanceId": "5afafff415833716e170fe92",
						"name": "Merchant A",
						"image": "Default.png",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe8f",
						"balance": 0,
						"createdAt": "2018-06-13T15:10:52.272Z",
						"updatedAt": "2018-06-13T15:10:52.272Z",
					},
					{
						"balanceId": "5afb028615833716e170fe95",
						"name": "Merchant B",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe90",
						"balance": 1211,
						"createdAt": "2018-06-13T15:14:05.629Z",
						"updatedAt": "2018-06-13T15:14:05.629Z"
					},
					{
						"balanceId": "5afb02a415833716e170fe96",
						"name": "Merchant C",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe91",
						"balance": 3735,
						"createdAt": "2018-06-13T15:14:05.629Z",
						"updatedAt": "2018-06-13T15:14:05.629Z"
					}
				]
			}


		<b>Create a new balance with a Merchant</b> (AUTH REQ)
		------------------------------------
		The following API enables you to create a new balance with a specified Merchant.

		POST api.pointup.io/users/balances

		<i>Arguments:</i>
		---------
		- merchantId: This is a unique number associated to each Merchant. This is a Mongoose.Schemta.Types.ObjectId object located in the _id collumn of Merchants.
		- amount: A valid number containing the balance held between the Merchant and User. Ex. 2000. This is in terms of cents. Must be positive.

			Request
			-------
			Authorization: Bearer 919Token
			Content-Type: application/json
			{
				"merchantId": "5afaffc015833716e170fe8f",
				"stripeToken": "tok_visa",
				"amount": 2000
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance created!",
				"balanceId": "5afafff415833716e170fe92"
			}


		<b>Update a balance</b> (AUTH REQ)
		----------------
		The following API enables you to update an existing balance involving this User.

		PUT api.pointup.io/users/balances

		<i>Arguments:</i>
		---------
		- balanceId: This is a unique number associated to each balance held. This is a Mongoose.Schema.Types.ObjectId object located in the _id collumn.
		- amount: A valid number containing the change in the balance held between the Merchant and User. Ex. 1000. This is in terms of cents. Must be positive.

			Request
			-------
			Authorization: Bearer 919Token
			Content-Type: application/json
			{
				"balanceId": "5afafff415833716e170fe92",
				"stripeToken": "tok_visa",
				"amount": 500
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance updated!"
			}


		<b>Regift a balance</b> (AUTH REQ)
		----------------
		The following API enables you to deduct a specified amount from a balance this User holds and give it to a specified phone number.

		PUT api.pointup.io/users/balances/regift

		<i>Arguments:</i>
		---------
		- balanceId: This is a unique number associated to each balance held. This is a Mongoose.Schema.Types.ObjectId object located in the _id collumn.
		- newPhone: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- amount: A valid number containing the change in the balance held between the Merchant and User. Ex. 1000. This is in terms of cents. Must be fixed to two decimals.

			Request
			-------
			Authorization: Bearer 919Token
			Content-Type: application/json
			{
				"balanceId": "5afafff415833716e170fe92",
				"newPhone": 16177635369,
				"amount": 500
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance exchanged!"
			}


		<b>Delete all balances with this User</b> (AUTH REQ)
		----------------------------------
		The following API enables you to set the isActive value to false on all balances involving this User.

		DELETE api.pointup.io/users/balances

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balances deleted!"
			}


		<b>Delete a specific balance with this User</b> (AUTH REQ)
		----------------------------------------
		The following API enables you to delete a specific balance involving this User. This balance must be empty with 0.00.

		DELETE api.pointup.io/users/balances/:balanceId

		<i>Arguments:</i>
		---------
		- balanceId: This is a unique number associated to each balance held. This is a Mongoose.Schema.Types.ObjectId object located in the _id collumn.

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance deleted!"
			}


	<b>User Transactions</b>
	-----------------
	The User Transactions API lets you view all transactions to the balances your User Point account holds.

	The following actions can be performed with the User Balance API
	- Get all transactions with this User

	<i>BaseURI:</i> api.pointup.io/users/transactions


		<b>Get all transactions with this User</b> (AUTH REQ)
		-----------------------------------
		The following API enables you to retrieve all transactions involving this User.

		GET api.pointup.io/users/transactions

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer 919Token
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"transactions": [
					{
						"transactionId": "5b2134928f8e3f1722cd0bfe",
						"balanceId": "5afb028615833716e170fe95",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe90",
						"amount": 2000,
						"saleMethod": "direct",
						"timestamp": "2018-06-13T15:13:22.299Z"
					},
					{
						"transactionId": "5b2134c1b6a97118343fdff0",
						"balanceId": "5afb028615833716e170fe95",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe90",
						"amount": -789,
						"saleMethod": "direct",
						"timestamp": "2018-06-13T15:14:09.596Z"
					},
					{
						"transactionId": "5b2134d3b6a97118343fdff3",
						"balanceId": "5afb028615833716e170fe96",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe91",
						"amount": 3735,
						"saleMethod": "direct",
						"timestamp": "2018-06-13T15:14:27.464Z"
					}
				]
			}


	<b>Merchant</b>
	--------
	The Merchant API lets you perform actions regarding your Merchant Point account. When you sign up on Point, you will be given your own account. You can retrive your account details like phone number, merchantId, and balances using the Merchant API. You can also modify your password here.

	The following actions can be performed with the Merchant API
	- Get Merchant information
	- Verify as a Merchant
	- Sign up as a Merchant
	- Log in as a Merchant
	- Modify Merchant name
	- Modify Merchant image
	- Modify Merchant password
	- Delete Merchant

	<i>BaseURI:</i> api.pointup.io/merchants


		<b>Get Merchant information</b> (AUTH REQ)
		------------------------
		The following API enables you to retrieve information about your Merchant Point account.

		GET api.pointup.io/merchants/

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer AToken
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"name": "Merchant A",
				"email": "merchant@a.mail",
				"image": "uploads/Default.png",
				"merchantId": "5afaffc015833716e170fe8f"
				"lastLoginAt": "2018-06-13T15:12:01.760Z"
			}


		<b>Verify as a Merchant</b>
		--------------------
		The following API enables you to verify a Merchant Point account. A verification code will be sent to the listed email.

		POST api.pointup.io/users/verify

		<i>Arguments:</i>
		---------
		- email: A valid string containing your email. Ex. merchant@a.mail.

			Request
			-------
			Content-Type: application/json
			{
				"email": "merchant@a.mail"
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Code sent!"
			}


		<b>Sign up as a Merchant</b>
		---------------------
		The following API enables you to sign up and create a Merchant Point account.

		POST api.pointup.io/merchants/signup

		<i>Arguments:</i>
		---------
		- name: A valid string containing your name. Ex. Merchant A.
		- email: A valid string containing your email. Ex. merchant@a.mail.
		- password: A valid string containing your password. Ex. verygoodpassword. Hashed password will be stored.
		- code: A valid 6-digit verification code sent to the listed email. Ex. 123456. Codes will expire within 5 minutes of creation.

			Request
			-------
			Content-Type: application/json
			{
				"name": "Merchant A",
				"email": "merchant@a.mail",
				"password": "verygoodpassword",
				"code": 123456
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Merchant created!"
			}


		<b>Log in as a Merchant</b>
		--------------------
		The following API enables you to log into your Merchant Point account. A token will be sent back in the response, enabling the Merchant to store it for authorization.

		POST api.pointup.io/merchants/login

		<i>Arguments:</i>
		---------
		- email: A valid string containing your email. Ex. merchant@a.mail.
		- password: A valid string containing your password. Ex. verygoodpassword. Hashed password will be stored.

			Request
			-------
			Content-Type: application/json
			{
				"email": "merchant@a.mail",
				"password": "verygoodpassword"
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Auth succeeded",
				"token": "AToken"
			}


		<b>Modify Merchant name</b> (AUTH REQ)
		--------------------
		The following API enables you to change the name to your Merchant Point account.

		PUT api.pointup.io/merchants/name

		<i>Arguments:</i>
		---------
		- name: A valid string containing your name. Ex. Merchant 20.

			Request
			-------
			Authorization: Bearer AToken
			Content-Type: application/json
			{
				"name": "Merchant 20"
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Name changed!"
			}


		<b>Modify Merchant image</b> (AUTH REQ)
		---------------------
		The following API enables you to change the image to your Merchant Point account.

		PUT api.pointup.io/merchants/image

		<i>Arguments:</i>
		---------
		- password: A valid image in .jpeg or .png format. Max file size &lt= 5.24MB.

			Request
			-------
			Authorization: Bearer AToken
			Content-Type: application/json
			image: Default.png
			{
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Image changed!"
			}


		<b>Modify Merchant password</b> (AUTH REQ)
		------------------------
		The following API enables you to change the password to your Merchant Point account.

		PUT api.pointup.io/merchants/password

		<i>Arguments:</i>
		---------
		- password: A valid string containing your password. Ex. verynewpassword.

			Request
			-------
			Authorization: Bearer AToken
			Content-Type: application/json
			{
				"password": "verynewpassword"
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Password changed!"
			}


		<b>Delete Merchant</b> (AUTH REQ)
		---------------
		The following API will completely delete the Merchant from the Point database.

		DELETE api.pointup.io/merchants/

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer AToken
			{
			}

			Response
			--------
			HTTP Status Code: 201
			{
				"message1": "Merchant deleted!"

			}


	<b>Merchant Balance</b>
	----------------
	The Merchant Balance API lets you perform actions regarding your the balances your Merchant Point account holds. You can retrive all balances you hold and information about them here.

	The following actions can be performed with the Merchant Balance API
	- Get all balances with this Merchant
	- Get information about a specific balance from URL
	- Create a new balance with a Merchant
	- Create a new balance with a Merchant from URL
	- Delete all balances of this Merchant
	- Delete a specific balance from URL

	<i>BaseURI:</i> api.pointup.io/merchants/balances


		<b>Get all balances with this Merchant</b> (AUTH REQ)
		-----------------------------------
		The following API enables you to retrieve all balances involving this Merchant.

		GET api.pointup.io/merchants/balances

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer AToken
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"balance": [
					{
						"balanceId": "5afb04ef15833716e170fe9a",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe8f",
						"balance": 1000,
						"createdAt": "2018-06-13T15:10:52.272Z",
						"updatedAt": "2018-06-13T15:30:35.654Z"
					},
					{
						"balanceId": "5afb04f115833716e170fe9b",
						"phone": 19802160745,
						"merchantId": "5afaffc015833716e170fe8f",
						"balance": 2556,
						"createdAt": "2018-06-13T15:14:05.629Z",
						"updatedAt": "2018-06-13T15:14:05.629Z"
					},
					{
						"balanceId": "5afb04f715833716e170fe9c",
						"phone": 16177635369,
						"merchantId": "5afaffc015833716e170fe8f",
						"balance": 3017,
						"createdAt": "2018-06-13T15:30:32.222Z",
						"updatedAt": "2018-06-13T15:30:32.222Z"
					}
				]
			}


		<b>Create a new balance with a User</b> (AUTH REQ)
		--------------------------------
		The following API enables you to create a new balance with a specified User.

		POST api.pointup.io/merchants/balances

		<i>Arguments:</i>
		---------
		- phone: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- amount: A valid number containing the balance held between the Merchant and User. Ex. 3017. This is in terms of cents. Must be fixed to two decimals.

			Request
			-------
			Authorization: Bearer AToken
			Content-Type: application/json
			{
				"phone": 16177635369,
				"amount": 3017
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance created!",
				"balanceId": "5afb04f715833716e170fe9c"
			}


		<b>Update a balance with a User</b> (AUTH REQ)
		----------------------------
		The following API enables you to update an existing balance.

		PUT api.pointup.io/merchants/balances

		<i>Arguments:</i>
		---------
		- balanceId: This is a unique number associated to each balance held. This is a Mongoose.Schema.Types.ObjectId object located in the _id collumn.
		- amount: A valid number containing the change in the balance held between the Merchant and User. Ex. 1000. This is in terms of cents. Must be fixed to two decimals.

			Request
			-------
			Authorization: Bearer AToken
			Content-Type: application/json
			{
				"balanceId": "5afb04ef15833716e170fe9a",
				"amount": 1000
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance changed!"
			}


		<b>Delete all balances with this Merchant</b> (AUTH REQ)
		--------------------------------------
		The following API enables you to delete all balances involving this Merchant.

		DELETE api.pointup.io/merchants/balances

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer AToken
			{
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message2": "Balances deleted!"
			}


		<b>Delete a specific balance with this Merchant</b> (AUTH REQ)
		--------------------------------------------
		The following API enables you to delete a specific balance involving this Merchant. This balance must be empty with 0.

		DELETE api.pointup.io/merchants/balances/:balanceId

		<i>Arguments:</i>
		---------
		- balanceId: This is a unique number associated to each balance held. This is a Mongoose.Schema.Types.ObjectId object located in the _id collumn.

			Request
			-------
			Authorization: Bearer AToken
			{
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance deleted!"
			}


	<b>Merchant Transactions</b>
	---------------------
	The Merchant Transactions API lets you view all transactions to the balances your Merchant Point account holds.

	The following actions can be performed with the Merchant Balance API
	- Get all transactions with this Merchant

	<i>BaseURI:</i> api.pointup.io/merchants/transactions


		<b>Get all transactions with this Merchant</b> (AUTH REQ)
		---------------------------------------
		The following API enables you to retrieve all transactions involving this Merchant.

		GET api.pointup.io/merchants/transactions

		<i>Arguments:</i> None
		---------

			Request
			-------
			Authorization: Bearer AToken
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"transactions": [
					{
						"transactionId": "5b213705b6a97118343fdffb",
						"balanceId": "5afb04ef15833716e170fe9a",
						"phone": 19198229889,
						"merchantId": "5afaffc015833716e170fe8f",
						"amount": 2556,
						"saleMethod": "direct",
						"timestamp": "2018-06-13T15:23:49.156Z"
					},
					{
						"transactionId": "5b21389b2c57911a16790e44",
						"balanceId": "5afb04ef15833716e170fe9b",
						"phone": 19802160745,
						"merchantId": "5afaffc015833716e170fe8f",
						"amount": 1000,
						"saleMethod": "direct",
						"timestamp": "2018-06-13T15:30:35.697Z"
					},
					{
						"transactionId": "5b2138b82c57911a16790e47",
						"balanceId": "5afb04f715833716e170fe9c",
						"phone": 16177635369,
						"merchantId": "5b2134388f8e3f1722cd0bea",
						"amount": 3017,
						"saleMethod": "direct",
						"timestamp": "2018-06-13T15:31:04.539Z"
					}
				]
			}


	<b>Messaging</b>
	---------
	The Messaging API lets you send an SMS message.

	The following actions can be performed with the Messaging API
	- Send an SMS message

	<i>BaseURI:</i> api.pointup.io/messaging


		<b>Send an SMS message</b>
		-------------------
		The following API enables you to send a customized message to a specified phone number.

		POST api.pointup.io/messaging

		<i>Arguments:</i>
		---------
		- dst: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- text: A valid string containing the text message you wish to send. Ex. Hello world!

			Request
			-------
			Content-Type: application/json
			{
				"dst": 19198229889,
				"text": "Hello world!"
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Message sent!"
			}


	<b>Balances</b>
	--------
	The Balances API lets you retrieve information about a Balance.

	The following actions can be performed with the Balances API
	- Get a balance

	<i>BaseURI:</i> api.pointup.io/balances


		<b>Get a balance</b>
		-------------
		The following API enables you to get information on a specified balance.

		GET api.pointup.io/balances/:balanceId

		<i>Arguments:</i>
		---------
		- balanceId: This is a unique number associated to each balance held. This is a Mongoose.Schema.Types.ObjectId object located in the _id collumn.

			Request
			-------
			{
			}


			Response
			--------
			HTTP Status Code: 200
			{
				"balanceId": "5afafff415833716e170fe92",
				"name": "Merchant A",
				"image": "Default.png",
				"phone": 19198229889,
				"merchantId": "5afaffc015833716e170fe8f",
				"balance": 0,
				"createdAt": "2018-06-13T15:10:52.272Z",
				"updatedAt": "2018-06-13T15:10:52.272Z"
			}


		<b>Issue a balance</b>
		---------------
		The following API enables you to issue a balance.

		POST api.pointup.io/balances/

		<i>Arguments:</i>
		---------
		- phone: A valid 10-digit phone number beginning with 1. Ex. 19198229889. Can be String or Number.
		- merchantId: This is a unique number associated to each Merchant. This is a Mongoose.Schemta.Types.ObjectId object located in the _id collumn of Merchants.
		- amount: A valid number containing the balance held between the Merchant and User. Ex. 500. This is in terms of cents. Must be positive.

			Request
			-------
			Authorization: Bearer AToken
			{
				"phone": 19198229889,
				"merchantId": "5afaffc015833716e170fe8f",
				"stripeToken": "tok_visa",
				"amount": 500
			}


			Response
			--------
			HTTP Status Code: 201
			{
				"message": "Balance issued!"
			}
</pre>
</body>
</html>
