<!DOCTYPE HTML>
	<head>
		<meta charset='utf-8'>
		<title>PointPayment</title>
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
	</head>
		<h1>Welcome to the Point Payment API!</h1>
	<body>
		<h2>We've got cookies!</h2>
	</body>
</html>
