<!DOCTYPE HTML>
	<head>
		<meta charset='utf-8'>
		<title>PointPayment</title>
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script>
		<script src='/javascripts/app.js'></script>
	</head>
	<body>
		<div id='app'>
			<form v-on:submit.prevent='submit1()'>
  			Phone: <input id='phone' autocomplete='off' v-model='phone' /><br>
  			Password: <input id='userpass' autocomplete='off' v-model='userpass' /><br>
        <input type="submit" value="Submit">
		  </form><br>
			<form v-on:submit.prevent='submit2()'>
  			Name: <input id='name' autocomplete='off' v-model='name' /><br>
  			Email: <input id='email' autocomplete='off' v-model='email' /><br>
  			Password: <input id='merchantpass' autocomplete='off' v-model='merchantpass' /><br>
        <input type="submit" value="Submit">
      </form><br>
			<form v-on:submit.prevent='submit3()'>
  			Phone: <input id='bphone' autocomplete='off' v-model='bphone' /><br>
        Email: <input id='bemail' autocomplete='off' v-model='bemail' /><br>
  			Balance: <input id='balance' autocomplete='off' v-model='balance' /><br>
        <input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
